body{
    margin: 0px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}


.topContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    margin: 20px 10px 10px 10px;
    flex: 1;
}

.sideBar {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.demo {
    text-align: center;
}


.container {
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid grey;
}

.footer{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footerText{
    font-size: 12px;
    font-weight: 900;
    color: white;
}


button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
    border: 1px solid black;
}

.btn {
    box-shadow: 2px 2px 2px 2px #666;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 250ms;
}

.active, .btn:hover {
    background-color: #666;
    color: white;
}

.color-pick {
    width:100px;
    height:100px;
    overflow: hidden;
    border-radius:100%;
}


input[type='color'] {
    width:100%;
    height:100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000001A;
    transform: scale(1.5);
}

 .color-pick {
    transition: 500ms;
}

 .color-pick:hover {
    transform: scale(1.2);
}